<h3>TODO : Support Multiple hobbys from UI</h3>
<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Update  Person</mat-card-title>
      <form [formGroup]="personForm" autocomplete="off" novalidate (ngSubmit)="createPerson(personForm.value)" fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px">
        
        <input type="hidden" formControlName="id"  [(ngModel)]="personFromDB.id">
        <mat-card-content>
  
          <mat-form-field>
            <input matInput type="text" placeholder="First name" formControlName="first_name" id="first_name" [(ngModel)]="personFromDB.first_name">             
            <mat-error *ngIf="hasError('first_name', 'required')">Name is required</mat-error>

          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Last name" required formControlName="last_name" id="last_name" [(ngModel)]="personFromDB.last_name">                 
            <mat-error *ngIf="hasError('last_name', 'required')">Last Name is required</mat-error>

          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Age" required formControlName="age" id="age" [(ngModel)]="personFromDB.age">                 
            <mat-error *ngIf="hasError('age', 'required')">Age is required</mat-error>

          </mat-form-field>          
          <mat-form-field>
            <input matInput type="text"  placeholder="Hobby " required formControlName="hobby" id="hobby" [(ngModel)]="personFromDB.hobby[0]">                 
            <mat-error *ngIf="hasError('hobby', 'required')">Hobby is required</mat-error>

          </mat-form-field>   
          <mat-form-field>
            <mat-label>Colour</mat-label>
             <select matNativeControl required formControlName="favourite_colour" id="favourite_colour" [(ngModel)]="personFromDB.favourite_colour">
              <option value="black">Black</option>
              <option value="green">Geen</option>
              <option value="red">Red</option>
              <option value="blue">Blue</option>
            </select>
            <mat-error *ngIf="hasError('favourite_colour', 'required')">Colour  is required</mat-error>
          </mat-form-field>             

          
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-fab color="primary" [disabled]="!personForm.valid">Save</button>            
            <button mat-fab color="primary" [routerLink]="['/person']">Cancel</button>
      
        </mat-card-actions>
      </form>
    </mat-card>
  </section>
